.form-profile .obs1 {
    font-style: italic;
    font-weight: bold;
    max-width: 400px;
}


.form-profile .obs2 {
    font-style: italic;
    font-weight: 400;
    max-width: 400px;
    text-align: center;
}

.form-profile {
   display: flex;
}

.area-button{
    display: flex;
    max-width: 600px;
    justify-content: center;
    align-items: center;
}

.form-profile button:not(:first-child) {
    margin-left: 10px;
}

@media screen and (max-width: 400px) {
    .btn-save{
        font-size: 12px;
        text-align: center;
    }
}
