.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.header label {
    font-size: 0.9em;
    color: #121212;
    font-weight: bold;
    margin-bottom: 7px;
}

.header div {
    display: flex;
    flex-direction: column;
}

.header input {
    margin-bottom: 1em;
    padding: 0.7em;
    border: 0;
    border-radius: 6px;
    max-width: 600px;
    background-color: #e9e9e9;
}

.div-title {
    width: 40%;
}

.div-theme {
    width: 30%;
}

.middle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
    padding: 0px 100px;
}


.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.middle input {
    margin-bottom: 1em;
    padding: 0.7em;
    border: 0;
    border-radius: 6px;
    max-width: 600px;
    background-color: #e9e9e9;
    text-align: center;
}

.middle label{
    font-size: 0.9em;
    color: #121212;
    font-weight: bold; 
    margin-right: 10px;
}

.questions label {
    padding: 20px;
    text-align: left;
    font-size: 0.9em;
    color: #121212;
    font-weight: bold;
}

.questions{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 6px;
    background-color: #e0e0e0;
    margin-top: 30px;
    height: auto;
}

.questions-title{
    padding: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-top: -10px;
    height: 550px;
    overflow-y: scroll;
}

.question-selection{
    background-color: #FFF;
    height: 60px;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;    
}

.checkbox input{
    padding: 20px;
}



.checkbox{
    display: flex;
    flex-direction: row;
    gap: 20px;
}



.checkbox div label{
    text-align: start;
}


.badge{
    border-radius: 3px;
    font-size: 0.9em;
    font-weight: bold;
    color: #121212;
    padding: 5px;
}


.area-btn-quiz button{
    margin-top: 20px;
    margin-bottom: 8px;
}

.area-btn-quiz button:not(:first-child){
    margin-left: 10px;
}
