.checkBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkBox input {
    width: 20px;
}

.checkBox label {
    margin-top: -10px;
    margin-left: 10px;
}

.div-cnpj{
    width: 100%;
    display: flex;
    flex-direction: column;
}